.months{
  text-align: center;
  width: 400px;
  height: 11rem;
  background-color: transparent;
  border: 1px solid black;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
}
.month_title{
  border-bottom: 1px solid black;
  padding: 2%;
}

